{% extends "base.html" %}
{% block about_contact %}active{% endblock %}
{% block header_1 %}Contact{% endblock %}
{% block content_1 %}

<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div itemscope itemtype="http://schema.org/Person">
                    <img alt="Picture of Rita" itemprop="image" src="static/rita.jpg" style="width:100%">
                    <h1><span itemprop="givenName">Rita</span> <span itemprop="familyName">T. Sousa</span></h1>
                    <p><span itempro="affiliation">University of Mannheim</span> 
                    <p>
                        <!--<a class="card-link" href="#"><i class="fa fa-dribbble contact-icon"></i></a>-->
                        <a class="card-link" href="https://ritatsousa.github.io/" itemprop="url"><i
                                class="fa fa-dribbble contact-icon"></i></a>
                        <a class="card-link" href="https://twitter.com/RitaTorresSousa"><i
                                class="fa fa-twitter contact-icon"></i></a>
                        <a class="card-link" href="https://www.linkedin.com/in/rita-t-sousa-16006a233//"><i
                                class="fa fa-linkedin contact-icon"></i></a>
                        <!--<a class="card-link" href="#"><i class="fa fa-facebook contact-icon"></i></a>-->
                    </p>
                    <form action="mailto:rita.sousa@uni-mannheim.de" method="get" target="_blank">
                        <button class="contact-button">Contact</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}