{% extends "base.html" %}
{% block licenses_active %}active{% endblock %}
{% block header_1 %}Dataset Licences{% endblock %}
{% block content_1 %}
<p>Please note that the data sets used to train embeddings are subject to licenses. You can find the licenses below.</p>

<h2>Gene Ontology (GO)</h2>
<p>Licensing information: <a href="https://geneontology.org/docs/go-citation-policy/">https://geneontology.org/docs/go-citation-policy/</a><br/><br/></p>
<h2>Human Phenotype Ontology (HP)</h2>
<p>Licensing information: <a href="https://hpo.jax.org/license">https://hpo.jax.org/license</a><br/><br/></p>
{% endblock %}